h1 {
    text-align: center;
}

.AIWFCIYWeeksAtNumber1 {
    font-size: 20px;
    text-align: center;
}

.AIWFCIY25Years {
    font-size: 17px;
    margin: 20px 75px;
}

table {
    margin: 20px auto;
}

th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
}

td {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}